<h1 [ngStyle]="{'color':titleColor}">{{title}}</h1>
<div>
  <h1>{{ title }} </h1>
  <p> {{ today | date: 'dd/MM/yyyy'}} </p>
  <p> {{ today | date: 'shortDate'}} </p>
  <p> {{ today | date }} </p>
  <p> {{ message | uppercase }} </p>
  <p> {{ salary | currency: 'INR'}}</p>
  <p> {{ value | percent }} </p>
  <p> {{ person | json }}</p>
  <p> {{ numValue | double}} </p>
  <p> {{ messageValue | capitalize }} </p>
</div>

<div>
  <app-person></app-person>
</div>

<div>
  <input type="text" [(ngModel)]="filterData">
  <p>Your string value : {{ filterData }}</p>
</div>